<!doctype html>
<html lang="en-US">
<head>
  <%= stylesheet_link_tag 'rss_styles' %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag 'rss_parser' %>
</head>

<body>
  <div id="w">
    <div id="content">
      <div id="life-style-news" class="feedcontainer"></div>
      <div id="entertaining-news" class="feedcontainer"></div>
      <div id="luxury-news" class="feedcontainer"></div>
      <div id="shopping-news" class="feedcontainer"></div>
      <div id="more-life-style-news" class="feedcontainer"></div>
      <div id="celebrities-news" class="feedcontainer"></div>
      <div id="hollywood-news" class="feedcontainer"></div>
      <div id="bridalguide-fashion" class="feedcontainer"></div>
      <div id="bridalguide-bridalbuzz" class="feedcontainer"></div>
      <div id="bridalguide-fashionbeauty" class="feedcontainer"></div>
      <div id="style-homepage" class="feedcontainer"></div>
      <div id="justluxe-fashion" class="feedcontainer"></div>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
<script type="text/javascript">
  $(function(){
    parseRSS('http://api.feedzilla.com/v1/categories/20/articles.rss', '#life-style-news');
    parseRSS('http://api.feedzilla.com/v1/categories/20/subcategories/1021/articles.rss', '#entertaining-news');
    parseRSS('http://api.feedzilla.com/v1/categories/20/subcategories/1758/articles.rss', '#luxury-news');
    parseRSS('http://api.feedzilla.com/v1/categories/20/subcategories/1035/articles.rss', '#shopping-news');
    parseRSS('http://api.feedzilla.com/v1/categories/17/subcategories/770/articles.rss', '#more-life-style-news');
    parseRSS('http://api.feedzilla.com/v1/categories/6/subcategories/223/articles.rss', '#celebrities-news');
    parseRSS('http://api.feedzilla.com/v1/categories/6/subcategories/227/articles.rss', '#hollywood-news');
    parseRSS('http://www.bridalguide.com/feeds/fashion', '#bridalguide-fashion');
    parseRSS('http://www.bridalguide.com/blogs/bridal-buzz/feed', '#bridalguide-bridalbuzz');
    parseRSS('http://www.bridalguide.com/blogs/fashion-beauty/feed', '#bridalguide-fashionbeauty');
    parseRSS('http://www.style.com/homepage/rss', '#style-homepage');
    parseRSS('http://www.justluxe.com/rss/rss-channels.php?sec=fineliving', '#justluxe-fashion');
  });

</script>
</body>
</html>
